<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Hóa Đơn</title>
    <!-- Link CSS Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center">Cập Nhật Hóa Đơn</h2>
                </div>
                <div class="card-body">
                    <form th:action="@{/hoadon/update/{id}(id=${hoadon.id})}" method="post">
                        <div class="form-group">
                            <label for="diaChi">Địa chỉ:</label>
                            <input type="text" class="form-control" id="diaChi" name="diaChi" th:value="${hoadon.diaChi}" required>
                        </div>
                        <div class="form-group">
                            <label for="soDienThoai">Số điện thoại:</label>
                            <input type="text" class="form-control" id="soDienThoai" name="soDienThoai" th:value="${hoadon.soDienThoai}" required>
                        </div>

                        <div class="form-group">
                            <label for="status">Trạng thái:</label>
                            <input type="text" class="form-control" id="status" name="trangThai" value="đã thanh toán" readonly>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Cập Nhật</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
