<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Size</title>
  <!-- Link CSS Bootstrap -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
  <div class="row mt-5">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-header">
          <h2 class="text-center">Add New Size</h2>
        </div>
        <div class="card-body">
          <form action="/size/add" method="post">
            <div class="form-group">
              <label for="tenSize">Tên Size:</label>
              <input type="text" class="form-control" id="tenSize" name="tenSize" required>
            </div>
            <div class="form-group">
              <label for="maSize">Mã Size:</label>
              <input type="text" class="form-control" id="maSize" name="maSize" required>
            </div>
            <div class="form-group">
              <label for="trangThai">Trạng Thái:</label>
              <input type="text" class="form-control" id="trangThai" name="trangThai" required>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
