<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center">Thêm mới hóa đơn</h2>
                </div>

                    <!-- Main content -->
                    <section class="content">
                        <!-- Your page content here -->
                        <div class="col-md-12">

                            <div class="table-responsive">
                                <table class="table table-striped">

                                    <div class="container">
                                        <div class="row mt-5">
                                            <div class="col-md-6 offset-md-3">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h2 class="text-center">Thêm mới hóa đơn</h2>
                                                    </div>
                                                    <div class="card-header">
                                                        <h5 class="text-center">Tìm khách hàng</h5>
                                                    </div>
                                                    <form class="d-flex" action="/khachhang/search" method="post">
                                                        <input class="form-control me-2" type="search" placeholder="Nhập số điện thoại" aria-label="Search" name="sdt">
                                                        <button class="btn btn-outline-success" type="submit">Tìm kiếm</button>
                                                    </form>
                                                    <div class="content-wrapper">
                                                        <!-- Main content -->
                                                        <section class="content">
                                                            <!-- Your page content here -->
                                                            <div class="col-md-12">

                                                                <div class="table-responsive">
                                                                    <table class="table table-striped" id="khachHangTable">
                                                                        <thead>
                                                                        <tr>
                                                                            <th>STT</th>
                                                                            <th>id</th>
                                                                            <th>Name</th>
                                                                            <th>Địa chỉ</th>
                                                                            <th>Số điện thoại</th>
                                                                            <th>Trạng thái</th>
                                                                        </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                        <tr th:each="teachers,i : ${khachHangs}" >
                                                                            <td th:text="${i.count}"></td>
                                                                            <td th:text="${teachers.id}"></td>
                                                                            <td th:text="${teachers.hoTen}"></td>
                                                                            <td th:text="${teachers.diaChi}"></td>
                                                                            <td th:text="${teachers.sdt}"></td>
                                                                            <td th:text="${teachers.trangThai}"></td>

                                                                            <!-- Populate data from server-side -->
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                            <div>
                                                                <a href="/index/khachhang/add"><button type="button" class="btn btn-danger">Thêm mới</button></a>
                                                            </div>
                                                        </section>
                                                        <!-- /.content -->
                                                    </div>
                                                    <div class="card-body">
                                                        <form action="/index/add" method="post">
                                                            <div class="form-group">
                                                                <label for="id">ID:</label>
                                                                <input type="text" class="form-control" id="id" name="khachHang.id" readonly>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="diachi">Địa chỉ:</label>
                                                                <input type="text" class="form-control" id="diachi" name="diaChi" required>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="phone">Số điện thoại:</label>
                                                                <input type="text" class="form-control" id="phone" name="soDienThoai" required>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="status">Trạng thái:</label>
                                                                <input type="text" class="form-control"  name="trangThai" value="Chưa thanh toán" readonly>
                                                            </div>
                                                            <button type="submit" class="btn btn-primary btn-block">Submit</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <script>
                                        // Get reference to the table body
                                        let tableBody = document.querySelector("#khachHangTable tbody");

                                        // Add click event listener to each row
                                        tableBody.addEventListener("click", function(event) {
                                            // Check if the clicked element is a table row
                                            if (event.target.tagName === "TD") {
                                                // Get the row element
                                                let row = event.target.parentElement;

                                                // Get data from the clicked row
                                                let id = row.cells[1].textContent;

                                                let diachi = row.cells[3].textContent;
                                                let sdt = row.cells[4].textContent;


                                                // Fill input fields with data from the clicked row
                                                document.getElementById("id").value = id;
                                                document.getElementById("diachi").value = diachi;
                                                document.getElementById("phone").value = sdt;

                                            }
                                        });
                                    </script>

                                    </body>
                                    </html>




                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div>
                            <a href="/index/khachhang/add"><button type="button" class="btn btn-danger">thêm mới</button></a>
                        </div>
                    </section>
                    <!-- /.content -->
                </div>

            </div>
        </div>
    </div>
</div>

</body>
</html>