<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thanh toán thành công</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h2 class="my-4">Thông báo</h2>
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Thanh toán thành công!</h4>
        <p>Hóa đơn của bạn đã được thanh toán thành công.</p>
        <hr>
        <p class="mb-0">Cảm ơn bạn đã mua sắm với chúng tôi.</p>
    </div>
    <a href="/chon" class="btn btn-primary">Thoát</a>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
