<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thanh toán thất bại</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h2 class="my-4">Thông báo</h2>
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Thanh toán thất bại!</h4>
        <p>Đã xảy ra lỗi trong quá trình thanh toán hóa đơn của bạn.</p>
        <hr>
        <p class="mb-0">Vui lòng thử lại sau.</p>
    </div>
    <a href="/chon" class="btn btn-primary">Thoát</a>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

