<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Danh mục</title>
    <!-- Link CSS Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center">Thêm mới Danh mục</h2>
                </div>
                <div class="card-body">
                    <form action="/danhmuc/add" method="post">
                        <div class="form-group">
                            <label for="maDanhMuc">Mã Danh mục:</label>
                            <input type="text" class="form-control" id="maDanhMuc" name="maDanhMuc" required>
                        </div>
                        <div class="form-group">
                            <label for="tenDanhMuc">Tên Danh mục:</label>
                            <input type="text" class="form-control" id="tenDanhMuc" name="tenDanhMuc" required>
                        </div>
                        <div class="form-group">
                            <label for="trangThai">Trạng thái:</label>
                            <input type="text" class="form-control" id="trangThai" name="trangThai" required>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
