<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New San Pham</title>
    <!-- Link CSS Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center">Thêm mới Sản phẩm</h2>
                </div>
                <div class="card-body">
                    <form action="/sanpham/add" method="post">
                        <div class="form-group">
                            <label for="maSanPham">Mã Sản Phẩm:</label>
                            <input type="text" class="form-control" id="maSanPham" name="maSanPham" required>
                        </div>
                        <div class="form-group">
                            <label for="tenSanPham">Tên Sản Phẩm:</label>
                            <input type="text" class="form-control" id="tenSanPham" name="tenSanPham" required>
                        </div>
                        <div class="form-group">
                            <label for="danhmuc">id danh muc:</label>
                            <input type="text" class="form-control" id="danhmuc" name="doanhMuc.id" required>
                        </div>
                        <div class="form-group">
                            <label for="trangThai">Trạng Thái:</label>
                            <input type="text" class="form-control" id="trangThai" name="trangThai" required>
                        </div>
                        <!-- Đoạn mã thêm danh mục sẽ được thêm vào đây -->
                        <button type="submit" class="btn btn-primary btn-block">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
